<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet" arguments=".\SocialMedia.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />

		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="300000000" />
				<!-- 300 MB en bytes -->
			</requestFiltering>
		</security>
	</system.webServer>


</configuration>